@model eProject_SymphonyLimited.Models.Partner

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Partner</h2>

<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="p-5">

                    @using (Html.BeginForm("Edit", "Partner", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Edit</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.EntityId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    <input type="file" name="imgFile" id="imgFile" onchange="ShowPreview(this)" />
                                    <img id="imgPreview" style="width: 200px" src="/Areas/Admin/Content/img/@Model.Image" />
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-outline-warning" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("Index")" class="btn btn-dark mb-2"><i class="fas fa-arrow-circle-left"></i> Back to list</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function ShowPreview(input) {
            if (input.files && input.files[0]) {
                var ImageDir = new FileReader();
                ImageDir.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }
                $('#imgPreview').removeClass("displayNone");
                ImageDir.readAsDataURL(input.files[0]);
            } else {
                $('#imgPreview').addClass("displayNone");
            }
        }
    </script>
}
