

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Quantity Student
        </th>
        <th>
            Price
        </th>
        <th>
            Mark Pass
        </th>
        <th>
            Course
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.Admissions) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.StartTime
        </td>
        <td>
            @item.EndTime
        </td>
        <td>
            @item.QuantityStudent
        </td>
        <td>
            @item.Price
        </td>
        <td>
            @item.MarkPass
        </td>
        <td>
            @item.Course
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EntityId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EntityId })
        </td>
    </tr>
}

</table>
