@model eProject_SymphonyLimited.Models.RegisterInfo

@{
    ViewBag.Title = "EntranceExam";
}


<div class="mainEE">
    <div class="menuEEMobi">
        <div class="barEE" style="padding: 0 30px;font-size: 20px;">
            <i class="fas fa-bars" id="barE"></i>
        </div>
        <div class="menu disNone" id="menuEE">
            <div class="exit" style="text-align:right; padding: 10px">
                <span id="exitEE">
                    <i class="fa fa-times" aria-hidden="true" style="font-size: 20px; color: white"></i>
                </span>
            </div>
            <ul>
                @{ foreach (var item in ViewBag.admission)
                    {
                        <li id="">
                            <a class="defaultMenu" href="~/Home/AdmissionDetail/@item.EntityId">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="containerEEDetail flex">
        <div class="left cusBannerEE">
            <div class="category">
                <div class="cat">
                    <span>Admissions</span>
                </div>
                <div class="menu">
                    <ul>
                        @{ foreach (var item in ViewBag.admission)
                            {
                                <li id="">
                                    <a class="defaultMenu" href="~/Home/AdmissionDetail/@item.EntityId">@item.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="midEE">
            <div class="infor">
                <div class="title">
                    <span><span>@ViewBag.admById.Name</span></span>
                </div>
                <div class="containerItem flex">
                    <div class="img">
                        <img src="~/Areas/Admin/Content/img/@ViewBag.admById.Image" alt="Alternate Text" width="100%"/>
                    </div>
                    <div class="content">
                        <div class="time flex">
                            <div class="st">
                                <span><span class="csSpan">Start Time: </span>@ViewBag.admById.StartTime</span>
                            </div>
                            <div class="et">
                                <span><span class="csSpan">End Time: </span>@ViewBag.admById.EndTime</span>
                            </div>
                        </div>
                        <div class="stQuantity cusItem">
                            <span><span class="csSpan">Admissions criteria: </span>@ViewBag.admById.QuantityStudent</span>
                        </div>
                        <div class="eePrice cusItem">
                            <span><span class="csSpan">Entrance Exam Fees: </span>@ViewBag.admById.Price</span>
                        </div>
                        <div class="markPass cusItem">
                            <span><span class="csSpan">Entry Point: </span>Điểm đầu vào</span>
                        </div>
                        <div class="course cusItem">
                            <span><span class="csSpan">Course: </span>@ViewBag.admById.Course</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">

            <div class="formRegis">
                <div class="title">
                    <span>Register now!</span>
                </div>
                @using (Html.BeginForm("Application", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formSubmit" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form">
                        <div class="form-row">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", @placeholder = "FullName*", @required = "" } })
                        </div>
                        <div class="form-row">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input", @placeholder = "Email*", @type = "email", @required = "" } })
                        </div>
                        <div class="form-row">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input", @placeholder = "Phone*", @required = "", @pattern = "(84|0[3|5|7|8|9])+([0-9]{8})", @title = ".e.g 0812345678" } })
                        </div>
                        <div class="form-row">
                            @*@Html.DropDownListFor(model => model.AdmissionId, new SelectList(ViewBag.admissionList, "EntityId", "Name", "Select"), new { @class = "input", @required = "" })*@
                            <input type="hidden" name="AdmissionId" value="@ViewBag.admById.EntityId" />
                            <input type ="text" name="name" value="@ViewBag.admById.Name" disabled/>
                        </div>
                        <div class="form-row">
                            @Html.TextAreaFor(model => model.Comment, new { @class = "input", @placeholder = "Give us questions", @rows = "5" })
                        </div>
                        <div class="btnFormIndex">
                            <button type="submit" id="submitForm">Send</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


