@model eProject_SymphonyLimited.Models.RegisterInfo

@{
    ViewBag.Title = "EntranceExam";
}


<div class="mainEE">
    <div class="menuEEMobi">
        <div class="barEE" style="padding: 0 30px;font-size: 20px;">
            <i class="fas fa-bars" id="barE"></i>
        </div>
        <div class="menu disNone" id="menuEE">
            <div class="exit" style="text-align:right; padding: 10px">
                <span id="exitEE">
                    <i class="fa fa-times" aria-hidden="true" style="font-size: 20px; color: white"></i>
                </span>
            </div>
            <ul>
                @{ foreach (var item in ViewBag.admission)
                    {
                        <li id="">
                            <a class="defaultMenu" href="">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="containerEE flex">
        <div class="midEE">
            <div class="courseItem flex">
                @{if (ViewBag.Adms != null)
                    {
                        foreach (var item in ViewBag.Adms)
                        {
                            <div class="course cusCourseItem">
                                <a href="~/Home/AdmissionDetail/@item.EntityId" style="text-decoration:none">
                                    <div class="img">
                                        <img src="~/Areas/Admin/Content/img/@item.Course" alt="" width="100%">
                                    </div>
                                    <div class="description">
                                        <span>@item.Name</span>
                                    </div>
                                    <div class="rd" style="border: 1px solid #e5e5e5; border-top: none;border-bottom: none">
                                        <span>End: <span class="time">@item.EndTime</span></span>
                                    </div>
                                    <div class="moreInfor ">
                                        <div class="containerMoreInfor flex">
                                            <div class="admissionCriteria width80">
                                                <span>
                                                    <i class="fas fa-users"></i> @item.QuantityStudent
                                                </span>
                                            </div>
                                            <div class="price width20">
                                                <span>$ @item.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <h3>No courses here</h3>
                    }
                }
            </div>
        </div>
    </div>
</div>
