@{ ViewBag.Title = "ExamResult"; }

<div class="mainExamResult">
    <div class="containerExamResult">
        <div class="title">
            <span id="titleCheckResult">
                <i class="fa fa-search" aria-hidden="true"></i>
                Check your result
            </span>
            <span class="disNone" id="titleAllResult">
                <i class="fa fa-search" aria-hidden="true"></i>
                All results
            </span>
        </div>
        <div class="containerContentResult">
            <div class="cate flex">
                <div class="checkResult cusCate cateActive" id="checkResult">
                    <span>Check your result</span>
                </div>
                <div class="allResult cusCate" id="allResult">
                    <span>All results</span>
                </div>
                <div class="cusCate2"></div>
            </div>
            <div class="content">
                <div class="search" id="search">
                    <form action="/Home/ExamResult" method="post">
                        <div class="flex">
                            <div class="form-row">
                                <input type="text" name="rollNumber" value="" placeholder="Roll Number" />
                            </div>
                            <div class="btnSearch">
                                <button type="submit" style="padding: 10px; width: 40px; border: none; margin: 2px 0 0 2px" id="btnCheckResult"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="admsDropdown disNone" id="admsDropdown">
                    <div class="flex">
                        <div class="inputAdmsResult">
                            <input type="search" id="key" placeholder="Admission Name..." value="" style="border: none"/>
                        </div>
                        <div class="form-row2">
                            <select style="padding: 6px; border: none; outline: none" id="all-old-admissions"></select>
                            <button style="padding: 6px; width: 40px; border: none" id="search-by-admission"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resultCheck" id="resultCheck">
            @if (@TempData["RollNumberNotExist"] != null)
            {
                <div class="cusErrorResult">
                    <h2>@TempData["RollNumberNotExist"]</h2>
                </div>
            }
            else if (@TempData["NotTested"] != null)
            {
                <div class="cusErrorResult">
                    <h2>@TempData["NotTested"]</h2>
                </div>
            }
            else
            {
                if (ViewBag.Result != null)
                {
                    <div class="resultAll" id="resultByRollNum">
                        <div class="tableCheckResult">
                            <table style="width: 90%;margin: 0 auto">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Full Name</th>
                                    <th>Entrance Exam</th>
                                    <th>Mark</th>
                                    <th>Passed Mark</th>
                                    @{
                                        if (ViewBag.Class != null)
                                        {
                                            <th>Class</th>
                                        }
                                        else
                                        {
                                            <th>Result</th>
                                        }
                                    }
                                    @{
                                        if (ViewBag.Class != null)
                                        {
                                            <th>Course Fee</th>
                                        }
                                    }
                                    @{
                                        if (ViewBag.Class != null)
                                        {
                                            <th>Bill Date</th>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>@ViewBag.Result.RollNumber</td>
                                    <td>@ViewBag.Result.Name</td>
                                    <td>@ViewBag.Result.Admission</td>
                                    <td>@ViewBag.Result.Result</td>
                                    <td>@ViewBag.Result.PassedMark</td>
                                    @{
                                        if (ViewBag.Class != null)
                                        {
                                            <td>@ViewBag.Class.Class</td>
                                        }
                                        else
                                        {
                                            <td>Not Passed</td>
                                        }
                                    }
                                    @{
                                        if (ViewBag.Class != null)
                                        {
                                            <td>@ViewBag.Result.CourseFee</td>
                                        }
                                    }
                                    @{
                                        if (ViewBag.Class != null)
                                        {
                                            <td>@ViewBag.Result.BillTime.ToString("MM/dd/yyyy")</td>
                                        }
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="resultAll">
            <div class="tableCheckResult disNone" id="tableAllResult">
                <table style="width: 90%;margin: 0 auto" id="result-old-admission"></table>
            </div>
        </div>
    </div>
</div>
<script>
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
    var manager = {
        load: function (key = null) {
            $.ajax({
                type: "GET",
                url: baseUrl + "Home/GetOldAdmission",
                data: { key: key },
                success: function (res) {
                    if (res.StatusCode == 200) {
                        var _html = '';
                        for (var item of JSON.parse(res.Data)) {
                            _html += '<option value="' + item.EntityId + '">' + item.Name + '</option>';
                        }
                        $('#all-old-admissions').html(_html);
                    } else {
                        _html += '<option value="">Not found</option>';
                        $('#all-old-admissions').html(_html);
                    }
                }
            })
        },
        searchByAdmission: function (admissionId) {
            $.ajax({
                type: "GET",
                url: baseUrl + "Home/GetResultByOldAdmission",
                data: { admissionId: admissionId },
                success: function (res) {
                    if (res.StatusCode == 200) {
                        var _html = '';
                        _html += '<tr><th>NO</th><th>Roll Number</th><th>Full Name</th><th>Result</th></tr>';
                        var count = 0;
                        for (var item of JSON.parse(res.Data)) {
                            count++;
                            _html += '<tr><td width="20px">' + count
                                + '</td><td>' + item.RollNumber
                                + '</td><td>' + item.Name
                                + '</td><td>' + item.Result
                                + '</td></tr>';
                        }
                        $('#result-old-admission').html(_html);
                    } else {
                        _html += '<option value>Not found</option>';
                        $('#result-old-admission').html(_html);
                    }
                }
            })
        }
    };
    manager.load();
    $(document).on("keyup", "#key", function () {
        var key = $(this).val();
        $.ajax({
            type: "GET",
            url: baseUrl + "Home/GetOldAdmission",
            data: { key: key },
            success: function (res) {
                if (res.StatusCode == 200) {
                    var _html = '';
                    for (var item of JSON.parse(res.Data)) {
                        _html += '<option value="' + item.EntityId + '">' + item.Name + '</option>';
                    }
                    $('#all-old-admissions').html(_html);
                } else {
                    _html += '<option value="">Not found</option>';
                    $('#all-old-admissions').html(_html);
                }
            }
        })
    });
    $(document).on("click", "#search-by-admission", function () {
        var admissionId = $('#all-old-admissions').val();
        if (admissionId != null && admissionId != "") {
            $.ajax({
                type: "GET",
                url: baseUrl + "Home/GetResultByOldAdmission",
                data: { admissionId: admissionId },
                success: function (res) {
                    if (res.StatusCode == 200) {
                        var _html = '';
                        _html += '<tr><th>NO</th><th>Roll Number</th><th>Full Name</th><th>Result</th></tr>';
                        var count = 0;
                        for (var item of JSON.parse(res.Data)) {
                            count++;
                            _html += '<tr><td width="20px">' + count
                                + '</td><td>' + item.RollNumber
                                + '</td><td>' + item.Name
                                + '</td><td>' + item.Result
                                + '</td></tr>';
                        }
                        $('#result-old-admission').html(_html);
                    } else {
                        _html += '<option value>Not found</option>';
                        $('#result-old-admission').html(_html);
                    }
                }
            })
        } else {
            alert("Admission not exist!");
        }
    });
    $("#checkResult").click(function () {
        $("#checkResult").addClass("cateActive");
        $("#allResult").removeClass("cateActive");
        $("#tableAllResult").addClass("disNone");
        $("#resultAll").addClass("disNone");
        $("#tableCheckResult").removeClass("disNone");
        $("#search").removeClass("disNone");
        $("#resultByRollNum").removeClass("disNone");
        $("#resultCheck").removeClass("disNone");
        $("#admsDropdown").addClass("disNone");
        $("#titleAllResult").addClass("disNone");
        $("#titleCheckResult").removeClass("disNone");
    });
    $("#allResult").click(function () {
        $("#checkResult").removeClass("cateActive");
        $("#allResult").addClass("cateActive");
        $("#tableAllResult").removeClass("disNone");
        $("#tableCheckResult").addClass("disNone");
        $("#search").addClass("disNone");
        $("#resultCheck").addClass("disNone");
        $("#admsDropdown").removeClass("disNone");
        $("#titleAllResult").removeClass("disNone");
        $("#titleCheckResult").addClass("disNone");

    });
</script>
