@{ ViewBag.Title = "ExamResult"; }

<div class="mainExamResult">
    <div class="containerExamResult">
        <div class="title">
            <span>
                <i class="fa fa-search" aria-hidden="true"></i> The last exam results
            </span>
        </div>
        <div class="containerContentResult">
            <div class="cate flex">
                <div class="checkResult cusCate cateActive" id="checkResult">
                    <span>Check your result</span>
                </div>
                <div class="allResult cusCate" id="allResult">
                    <span>All results</span>
                </div>
                <div class="cusCate2"></div>
            </div>
            <div class="content">
                <div class="search" id="search">
                    <div class="flex">
                        <div class="labelSearch">
                            <span>Search</span>
                        </div>
                        <div class="form-row">
                            <form action="/Home/ExamResult" method="post">
                                <input type="text" name="rollNumber" value="" placeholder="Roll Number" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="admsDropdown disNone" id="admsDropdown">
                    <div class="flex">
                        <div class="labelSearch">
                            <span>Admission</span>
                        </div>
                        <div class="form-row">
                            <select style="padding: 6px">
                                @{
                                    foreach (var item in ViewBag.Admss)
                                    {
                                        <option value="value">@item.Name</option>
                                    }
                                }
                            </select>
                            <button style="padding: 6px; width: 40px"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resultCheck" id="resultCheck">
            @if (@TempData["RollNumberNotExist"] != null)
            {
                <div class="cusErrorResult">
                    <h2>@TempData["RollNumberNotExist"]</h2>
                </div>
            }
            else if (@TempData["NotTested"] != null)
            {
                <div class="cusErrorResult">
                    <h2>@TempData["NotTested"]</h2>
                </div>
            }
            else
            {
                if (ViewBag.Result != null)
                {
                    <div class="resultAll" id="resultByRollNum">
                        <div class="tableCheckResult">
                            <table style="width: 90%;margin: 0 auto">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Full Name</th>
                                    <th>Entrance Exam</th>
                                    <th>Result</th>
                                    @*<th>Class</th>*@
                                    <th>Course Fee</th>
                                    <th>BillDate</th>
                                </tr>
                                <tr>
                                    <td>@ViewBag.Result.RollNumber</td>
                                    <td>@ViewBag.Result.Name</td>
                                    <td>@ViewBag.Result.Admission</td>
                                    <td>@ViewBag.Result.Result</td>
                                    @*<td>Jill</td>*@
                                    <td>@ViewBag.Result.CourseFee</td>
                                    <td>@ViewBag.Result.BillTime.ToString("MM/dd/yyyy")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="resultAll">
            <div class="tableCheckResult disNone" id="tableAllResult">
                <table style="width: 90%;margin: 0 auto">
                    <tr>
                        <th>No</th>
                        <th>Roll Number</th>
                        <th>Full Name</th>
                        <th>Entrance Exam</th>
                        <th>Mark</th>
                        <th>Result</th>
                        <th>Class</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td style="font-weight: bold">Jill</td>
                        <td>Smith</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $("#checkResult").click(function () {
        $("#checkResult").addClass("cateActive");
        $("#allResult").removeClass("cateActive");
        $("#tableAllResult").addClass("disNone");
        $("#resultAll").addClass("disNone");
        $("#tableCheckResult").removeClass("disNone");
        $("#search").removeClass("disNone");
        $("#resultByRollNum").removeClass("disNone");
        $("#resultCheck").removeClass("disNone");
        $("#admsDropdown").addClass("disNone");
    });
    $("#allResult").click(function () {
        $("#checkResult").removeClass("cateActive");
        $("#allResult").addClass("cateActive");
        $("#tableAllResult").removeClass("disNone");
        $("#tableCheckResult").addClass("disNone");
        $("#search").addClass("disNone");
        $("#resultCheck").addClass("disNone");
        $("#admsDropdown").removeClass("disNone");

    });
</script>
