@{ ViewBag.Title = "ExamResult"; }

<div class="mainExamResult">
    <div class="containerExamResult">
        <div class="title">
            <span>
                <i class="fa fa-search" aria-hidden="true"></i> The last exam results
            </span>
        </div>
        <div class="containerContentResult">
            <div class="cate flex">
                <div class="checkResult cusCate cateActive" id="checkResult">
                    <span>Check your result</span>
                </div>
                <div class="allResult cusCate" id="allResult">
                    <span>All results</span>
                </div>
                <div class="cusCate2"></div>
            </div>
            <div class="content">
                <div class="search" id="search">
                    <div class="flex">
                        <div class="labelSearch">
                            <span>Search</span>
                        </div>
                        <div class="form-row">
                            <form action="/Home/ExamResult" method="post">
                                <input type="text" name="rollNumber" value="" placeholder="Roll Number" />
                            </form>
                        </div>
                        <div class="resultCheck">
                            @if (@TempData["RollNumberNotExist"] != null)
                            {
                                <h2>@TempData["RollNumberNotExist"]</h2>
                            }
                            else if (@TempData["NotTested"] != null)
                            {
                                <h2>@TempData["NotTested"]</h2>
                            }
                            else
                            {
                                if (ViewBag.Result != null)
                                {
                                    <div class="info" style="margin: 20px 0">
                                        <div class="name cusInfoCheckResult">
                                            <span>Roll Number: <span>@ViewBag.Result.RollNumber</span></span>
                                        </div>
                                        <div class="name cusInfoCheckResult">
                                            <span>Name: <span>@ViewBag.Result.Name</span></span>
                                        </div>
                                        <div class="name cusInfoCheckResult">
                                            <span>Result: <span>@ViewBag.Result.Result</span></span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resultAll">
            <div class="tableCheckResult disNone" id="tableAllResult">
                <table style="width: 90%;margin: 0 auto">
                    <tr>
                        <th>No</th>
                        <th>Roll Number</th>
                        <th>Full Name</th>
                        <th>Entrance Exam</th>
                        <th>Mark</th>
                        <th>Result</th>
                        <th>Class</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td style="font-weight: bold">Jill</td>
                        <td>Smith</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $("#checkResult").click(function () {
        $("#checkResult").addClass("cateActive");
        $("#allResult").removeClass("cateActive");
        $("#tableAllResult").addClass("disNone");
        $("#tableCheckResult").removeClass("disNone");
        $("#search").removeClass("disNone");
    });
    $("#allResult").click(function () {
        $("#checkResult").removeClass("cateActive");
        $("#allResult").addClass("cateActive");
        $("#tableAllResult").removeClass("disNone");
        $("#tableCheckResult").addClass("disNone");
        $("#search").addClass("disNone");
    });
</script>
