@model eProject_SymphonyLimited.Models.RegisterInfo
@{
    ViewBag.Title = "Index";
}
<div class="page1">
    <div class="cusBanner">
        <div class="mid width100">
            <a href="">
                <div id="carousel-id" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner" style=" width:100%">
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/4(8).jpg" width="100%">
                        </div>
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/banner%20clc%20webmoi.png" width="100%">
                        </div>
                        <div class="item active">
                            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/hocbongthang8-2021.png" width="100%">
                        </div>
                    </div>
                    <a class="left carousel-control border-radius-cus" href="#carousel-id" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control border-radius-cus" href="#carousel-id" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="page2">
    <div class="bgPage2">
        <div class="title">
            <h1>Why</h1>
            <h2>should you choose <p>Symphony limited?</p></h2>
        </div>
        <div class="reason">
            <div class="containerReason flex">
                <div class="flex cusItemReason">
                    <div class="img" style="padding: 10px">
                        <img src="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/reason-1.png" alt="Alternate Text" style="max-width: 100%; height: auto" />
                    </div>
                    <div class="reasonText" style="text-align: center">
                        <h2 class="text-violet"></h2>
                        <h2 class="text-violet">TOP 1 <span>IT training in India</span></h2>
                    </div>
                </div>
                <div class="flex cusItemReason">
                    <div class="img" style="padding: 10px">
                        <img src="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/reason-2.png" alt="Alternate Text" style="max-width: 100%; height: auto" />
                    </div>
                    <div class="reasonText" style="text-align: center">
                        <h2 class="text-violet"></h2>
                        <h2 class="text-violet">19 Years <span>IT training experience</span></h2>
                    </div>
                </div>
                <div class="flex cusItemReason">
                    <div class="img" style="padding: 10px">
                        <img src="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/reason-3.png" alt="Alternate Text" style="max-width: 100%; height: auto" />
                    </div>
                    <div class="reasonText" style="text-align: center">
                        <h2 class="text-violet"></h2>
                        <h2 class="text-violet">98% <span>Students have jobs after graduation</span></h2>
                    </div>
                </div>
                <div class="flex cusItemReason">
                    <div class="img" style="padding: 10px">
                        <img src="https://product.bachkhoa-aptech.edu.vn:33/Resources/Images/reason-4.png" alt="Alternate Text" style="max-width: 100%; height: auto" />
                    </div>
                    <div class="reasonText" style="text-align: center">
                        <h2 class="text-violet"></h2>
                        <h2 class="text-violet">75% <span>Working in TOP 500 companies</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page3">
</div>
<div class="page4">
    <div class="containerPage4 flex">
        <div class="img">
            <img src="https://bachkhoa-aptech.edu.vn/public/assets/imgs/themes/course-details-student.png" alt="Alternate Text" width="609px" height="659px" />
        </div>
        <div class="registerPage">
            <div class="containerFormIndex">
                <div class="title">
                    <span>Register now to receive many offers from <br />Symphony Limited</span>
                </div>
                @using (Html.BeginForm("Application", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formSubmit" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form">
                        <div class="form-row">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", @placeholder = "FullName*", @required = "" } })
                        </div>
                        <div class="form-row">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input", @placeholder = "Email*", @type = "email", @required = "" } })
                        </div>
                        <div class="form-row">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input", @placeholder = "Phone*", @required = "", @id = "phoneNumber" } })
                        </div>
                        <div class="form-row">
                            @Html.DropDownListFor(model => model.AdmissionId, new SelectList(ViewBag.admissionList, "EntityId", "Name", "Select"), new { @class = "input", @required = "" })
                        </div>
                        <div class="form-row">
                            @Html.TextAreaFor(model => model.Comment, new { @class = "input", @placeholder = "Give us questions", @rows = "5" })
                        </div>
                        <div class="btnFormIndex">
                            <button type="submit" id="submitForm">Send</button>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>
<div class="page5">
    <div class="instituteLecturers">
        <div class="mainLecturesInfor">
            <div class="title">
                <span>
                    excellent Teachers
                </span>
            </div>
            <section id="features" class="blue">
                <div class="content">
                    <div class="slider slider-nav">
                        @{
                            foreach (var item in ViewBag.teacher)
                            {
                                <div class="cusLecturer">
                                    <img src="/Areas/Admin/Content/img/Teacher/@item.Image" width="100px" height="100px" />
                                    <span><br />Mr. @item.Name</span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>
            <div class="detailInfor">
                <div class="containerLecturer">
                    <div class="inforLecture flex">
                        <div class="text">
                            <span>Lecturer</span>
                            <div class="slider slider-for">
                                @{
                                    foreach (var item in ViewBag.teacher)
                                    {
                                        <div>
                                            <div class="name cusInfor">
                                                <span>@item.Name</span>
                                            </div>
                                            <div class="specialize cusInfor">
                                                <span>@item.Specialize</span>
                                            </div>
                                            <div class="subject cusInfor">
                                                <span>Các môn giảng dạy: <span>@item.Subject</span></span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="img">
                            <div class="slider slider-for">
                                @{
                                    foreach (var item in ViewBag.teacher)
                                    {
                                        <div>
                                            <img src="/Areas/Admin/Content/img/Teacher/@item.Image" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="page6">
    <div class="institutePartner">
        <div class="title">
            <span>
                Recruitment partner network
            </span>
        </div>
        <div class="cusPartner">
            <div class="owl-carousel nav-partner" id="owl-carousel">
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/cmc.png" />
                </div>
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/misa.png" />
                </div>
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/FSI.png" />
                </div>
                <div class="logoPartner">
                    <img src="https://bachkhoa-aptech.edu.vn/public/assets/uploads/images/vnp-group.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var baseUrl = window.location.protocol + "//" + window.location.host + "/";


    $.ajax({
        type: "GET",
        url: baseUrl + "Home/GetStartTime",
        success: function (res) {
            $(document).ready(function () {
                $.each(res.data, function (index, value) {
                    const daysEl = document.getElementById("days");
                    const hoursEl = document.getElementById("hours");
                    const minsEl = document.getElementById("mins");
                    const secondsEl = document.getElementById("seconds");
                    const upcomingExam = "21 Aug 2021";
                    function countdown() {
                        const upcomingExamDate = new Date(upcomingExam);
                        const currentDate = new Date();
                        const totalSeconds = (upcomingExamDate - currentDate) / 1000;
                        const days = Math.floor(totalSeconds / 3600 / 24);
                        const hours = Math.floor(totalSeconds / 3600) % 24;
                        const mins = Math.floor(totalSeconds / 60) % 60;
                        const seconds = Math.floor(totalSeconds) % 60;
                        daysEl.innerHTML = formatTime(days);
                        hoursEl.innerHTML = formatTime(hours);
                        minsEl.innerHTML = formatTime(mins);
                        secondsEl.innerHTML = formatTime(seconds);
                    }

                    function formatTime(time) {
                        return time < 10 ? `0${time}` : time;
                    }
                    countdown();
                    setInterval(countdown, 1000)
                });

            });
        }
    })
</script>
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 5,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true
    });
</script>
