@model eProject_SymphonyLimited.Areas.Admin.Data.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-2">Change Your Password?</h1>
                        </div>
                        @using (Html.BeginForm("ChangePassword", "Home", null, FormMethod.Post, new { @class = "user" }))
                        {
                            if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }
                            if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                            }
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" name="OldPassword" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Your Old Password...">
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" name="NewPassword" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Your New Password...">
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" name="ConfirmPassword" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Confirm Your New Password...">
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <button class="btn btn-primary btn-user btn-block" type="submit">Change</button>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
