@model eProject_SymphonyLimited.Models.Authorize.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Image :
        </dt>

        <dd>
            <img style="width: 100px" src="/Areas/Admin/Content/img/@Model.Image">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            Full Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Role :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupUsers.Name)
        </dd>

    </dl>
</div>


<div>
    <button class="btn btn-warning btn-edit mr-1 mb-1" data-id="@Model.EntityId">Edit</button>
</div>

@section scripts{
    <script>
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        $(document).on("click", ".btn-edit", function () {
            var userId = $(this).data("id");
            window.location.href = baseUrl + "Admin/Home/UserProfileEdit/" + userId;
        });
    </script>
}